<div class="about-me">
  <div class="title">
    <h2>Get to know me better</h2>
  </div>
  <div class="introduction">
    <p>
      I am a junior developer. I completed a higher education diploma in
      Multiplatform Application Development (DAM), where I developed several
      projects that reflect my growth as a programmer. Currently, I am learning
      Angular and React to strengthen my portfolio and expand my opportunities
      in the job market.
    </p>

    <p>
      I have experience working in both frontend and backend development, which
      allows me to have a full understanding of the application development
      process. However, my true passion lies in backend development, as I enjoy
      solving complex problems and designing efficient systems. I consider
      myself a logical and analytical person, qualities that I apply to find
      creative and functional solutions to the challenges that arise in each
      project.
    </p>
    <p>My experience includes: </p>
    <ul>
      <li>Backend development with Node.js and REST APIs</li>
      <li>Frontend development with Angular, React.js, and Next.js</li>
      <li>Mobile development in Kotlin and Java</li>
    </ul>
  
    <p>To learn more about my experience:</p>
    
    <button (click)="downloadFile()">Checkout my resume!</button>
  
    <p>
      I believe in writing clean code and am always looking to learn new
      technologies. If you want to know more about my work or collaborate on a
      project, <a href="contact">get in touch!</a>
    </p>
  </div>

 
</div>
