<div class="parent">
  <div class="info">
    <span>Hi, my name is</span>
    <h1>Enric Sanchez.</h1>
    <h2>I build ideas into software</h2>

    <p style="font-style: italic">
      “Great works are performed not by strength but by perseverance.”—Samuel
      Johnson
    </p>
    <br />
    <button>Checkout my resume!</button>
  </div>

  <div class="image">
    <div class="background-shape"></div>
    <img src="http://localhost:8081/Images/me.png" alt="Profile" class="profile-image" />
  </div>
</div>

<div class="introduction">
  <div style="text-align: center">
    <h1>Let me introduce myself</h1>
  </div>
  <div class="infoandimage">
    <div class="info2">
      <p>
        I fell in love with programming and I’m always learning more along the
        way.
      </p>
      <p>
        I'm getting comfortable with languages like
        <strong><em>Kotlin</em></strong>, <strong><em>Java</em></strong>, and
        I'm diving into <strong><em>Angular</em></strong>.
      </p>
      <p>
        My main interest is building innovative web applications and backend
        systems, and I'm always excited to improve my skills in these areas.
      </p>
      <p>
        When possible, I love developing functional and efficient solutions
        with the tools I'm mastering, such as <strong><em>Angular</em></strong>
        and <strong><em>Kotlin</em></strong>.
      </p>
    </div>
  </div>
</div>
