<div class="parent">
    <div class="info">
        <span>Hi, my name is</span>
        <h1>Enric Sanchez.</h1>
        <h2>
            I build things for the web
        </h2>
      
        <p>
            I'm a software engineer with a passion for creating innovative and user-friendly web applications.
            I have a strong background in front-end development and have experience with various frameworks and libraries.
            I'm currently working remotely and enjoy the opportunity to collaborate with my team and clients.
        </p>
        <br>
        <button>
            Checkout my resume!
        </button>
        
    </div>
  
    <div class="image">
        <img src="http://localhost:8081/Images/chill1.png" alt="">
    </div>
</div>
