/* Light mode (default) */
:root {
    --bg-color: #1F1E1E;
    --bg-color-scrolled: rgba(31, 30, 30, 0.6); /* Opacidad del 50% */
    --text-color: #ffffff;
    --text-color2:#8D8D8D;
    --primary-color: #bb86fc;
    --icon-color: #DDDDDD;
    /* Usando rgba para color con opacidad */
    --bg-nav-color: rgba(38, 38, 38, 0.5); /* #262626 con opacidad 0.5 */
    --hover-color: #D16D4A;
    --footer-bg-color: #121212; /* Negro suave */
    --footer-text-color: #ffffff; /* Texto blanco */
    --form-bg-home: url('assets/images/2-Photoroom.png');
}

  svg{
    fill: var(--icon-color);
    height: 50px;
    width: 50px;
  }
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    height: 100%;
  }
  
  button {
    background-color: var(--primary-color);
    color: var(--text-color);
  }

  @font-face {
    font-family: 'SF Mono';
    src: url('/assets/fonts/SFMonoRegular.otf') format('truetype'),
         url('/assets/fonts/SF-Mono-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-SemiBold.ttf') format('truetype'),
         url('/assets/fonts/SF-Mono-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Calibre';
    src: url('/assets/fonts/TestCalibre-Light-BF661746edb619a.otf') format('truetype'),
         url('/assets/fonts/SF-Mono-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  span{
    font-family: 'SF Mono', monospace;
    transition: color 0.3s ease;
  }
h3{
    font-family: 'SF Mono', monospace;
}
a,button {
    font-family: 'SF Mono', monospace;

}
button{
  background-color: transparent;
  border: 1px solid var(--hover-color);
  border-radius: 8px;
  color: var(--hover-color);
}
button:hover{
  background-color: var(--hover-color);
  color: var(--text-color);
  cursor: pointer;
  transition: 0.6s;
}

h1,h2{
  font-family: 'Montserrat', sans-serif;
}
p{
  font-family: 'Calibre', sans-serif;
}


/* Cada sección debe ser un punto de "snap" */
.snap-section {
  margin: 2% 5vw 10.88vw; /* Elimina margen inferior */
  height: auto; /* Ocupa todo el alto */
}

app-footer {
 bottom: 0;    /* Ocupa todo el ancho */
}
/* Show desktop nav and hide mobile nav by default */
.desktop-nav {
  display: block;
}
.mobile-nav {
  display: none;
}

/* For mobile devices, hide desktop nav and show mobile nav */
@media (max-width: 600px) {
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
}

